@media screen and (max-width: 350px) {
    .container{
        margin-left: var(--mb-1);
    }
    .nav__menu{
        padding: 2rem .25rem 4rem;
    }
    .nav__list{
        column-gap: 0;
    }
    .home__content{
        grid-template-columns: .25fr 3fr;
    }
    .home__blob{
        width: 180px;
    }
    .skills__title{
        font-size: var(--normal-font-size);
    }
    .qualification__data{
        gap:.5rem;
    }
    .services__container{
        grid-template-columns: max-content;
        justify-content: center;
    }
    .services__content{
        padding-right: 3.5rem;
    }
    .services__modal{
        padding: 0 .5rem;
    }
}
@media screen and (min-width:568px) {
    .home__content{
        grid-template-columns: max-content 1fr 1fr;
    }
    .home__data{
        grid-column: initial;
    }
    .home__img{
        order: 1;
        justify-self: center;
    }
    .about__container, .skills__container {
        grid-template-columns: repeat(2, 1fr);
    }
    .qualification__sections{
        display: grid;
        grid-template-columns: .6fr;
        justify-content: center;
    }
    .project__container,.contact__container,.footer__container{
        grid-template-columns: repeat(2,1fr) !important;
    }

}

@media screen and (min-width: 768px) {
    .container{
        margin-left: auto;
        margin-right: auto;
    }
    body{
        margin: 0;
    }
    .section{
        padding: 6rem 2.5rem 2rem;
    }
    .section__subtitle{
        margin-bottom: 4rem;
    }
    .header{
        top:0;
        bottom: initial;
    }
    .header,.main,.footer__container{
        padding: 0 1rem;
    }
    .nav{
        height: calc(var(--header-height) + 1.5rem);
        column-gap: 1rem;
    }
    .nav__icons,.nav__close,.nav__toggle{
        display: none;
    }
    .nav__list{
        display: flex;
        column-gap: 2rem;
    }
    .nav__menu{
        margin-left: auto;
    }
    .change-theme{
        margin:0;
    }
    .home__container{
        row-gap: 5rem;
    }
    .home__content{
        padding-top: 5.5rem;
        column-gap: 2rem;
    }
    .home__blob{
        width: 250px;
    }
    .home__scroll{
        display: block;
    }
    .home__scroll-button{
        margin-left: 3rem;
    }
    .about__container{
        column-gap: 5rem;
    }
    .about__img{
        width: 350px;
    }
    .about__description{
        text-align: justify;
    }
    .about__info{
        justify-content: space-between;
    }
    .about__buttons{
        justify-content: initial;
    }
    .qualification__tabs{
        justify-content: center;
    }
    .qualification__button{
        margin: 0 var(--mb-1);
    }
    .qualification__sections{
        grid-template-columns: .5fr;
        // justify-content: center;
    }
    .services__container{
        grid-template-columns: repeat(3,218px);
        justify-content: center;
    }
    .services__icon{
        font-size: 2rem;
    }
    .services__modal,.project__modal{
        padding: 0 8rem;
    }
    .footer__container{
        grid-template-columns: repeat(3,1fr) !important;
    }
    .footer{
        padding-top: 3rem;
    }
    .footer__links{
        flex-direction: row;
        column-gap: 2rem;
    }
    .scroll-up-btn{
        right: 2.5rem;
        font-size: 1.5rem;
        padding: 0.5rem;
    }
}
@media screen and (min-width: 1024px) {
    .home__content{
        grid-template-columns: max-content 1fr 1fr;
        gap: 2rem;
        padding-top: 1.5rem;
    }
    
}